.dark-mode .section-intro {
    background: #00001F;
    color: white;
}

.light-mode .section-intro {
    background: #FFFFFF;
    color: #00001F;
}

.dark-mode .section-intro--subtitle,
.dark-mode .section-intro--about {
    color: white;
}

.light-mode .section-intro--subtitle,
.light-mode .section-intro--about {
    color: #00001F;
}

.section-intro>div .sig-img-1 {
    width: 202px;
    height: 234px;
    margin-top: 60px;
    align-self: start;
    justify-self: end;
}

.section-intro>div .sig-img-2 {
    width: 519px;
    height: 668px;
}

.section-intro>div .sig-img-3 {
    width: 279px;
    height: 327px;
    align-self: center;
    justify-self: start;
}

.section-intro>div img {
    width: 100%;
    height: 100%
}


/*RESPONSIVE */

@media(max-width: 640px) {
    .section-intro>div {
        padding: 50px 40px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section-intro--subtitle {
        max-width: 300px;
    }
    .introduce--subtitle-1,
    .introduce--subtitle-2 {
        font-size: 30px !important;
    }
    .section-intro--about button {
        width: 80px;
        height: 80px;
    }
    .section-intro--groupImage {
        grid-template-rows: repeat(3, 1fr) !important;
    }
    .section-intro>div .sig-img-1 {
        justify-self: center;
    }
    .section-intro>div .sig-img-2 {
        width: 250px;
        height: 300px;
        align-self: start;
        justify-self: center;
    }
    .section-intro>div .sig-img-3 {
        align-self: start;
        justify-self: center;
    }
}