.container--factions {
    height: 270vh;
    transition: 1s;
    position: relative;
}

.dark-mode .container--factions {
    background: #00001F;
}

.light-mode .container--factions {
    background: #FFFFFF;
}

.container--factions--content {
    height: 400vh;
    width: 100%;
    transition: 1s;
    border-radius: 900px;
    position: absolute;
    top: 0;
    left: 0;
}

.dark-mode .container--factions--content {
    background: #0E0E2B;
}

.light-mode .container--factions--content {
    background: #EEEEEE;
}

.container--factions--header {
    margin-top: 200px;
    display: grid;
    grid-template-rows: repeat(4, 200px) auto;
    grid-gap: 30px;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.dark-mode .container--factions--header {
    color: white;
}

.light-mode .container--factions--header {
    color: #00001F;
}

.container--factions--header .animated--arrow img,
.container--factions--footer .animated--arrow img {
    animation: UpDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.faction--title {
    font-size: 60px;
    font-weight: 500;
    max-width: 800px;
}

.faction--subtitle {
    font-size: 18px;
    font-weight: 100;
    max-width: 800px;
}

button {
    width: 150px;
    height: 140px;
    outline: none;
    border-radius: 100%;
    border: none;
    background: linear-gradient(45deg, #002884, #78002E);
    color: white;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer
}

.group--image {
    margin-top: 200px;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-content: center;
}

.group--image img {
    width: 250px;
    height: 300px;
}

.container--factions--cta {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.dark-mode .container--factions--cta {
    color: white;
}

.light-mode .ccontainer--factions--cta {
    color: #00001F;
}

.cta--title {
    font-size: 60px;
    font-weight: 500;
    max-width: 600px;
}

.container--factions--circles {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
}

.circle--fundation {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: transparent;
    position: relative;
    display: grid;
    grid-template-rows: 50px 200px;
    align-content: center;
    justify-items: center;
    text-align: center;
    grid-gap: 30px;
}

.dark-mode .circle--fundation {
    border: 1px solid white;
    color: white;
}

.light-mode .circle--fundation {
    border: 1px solid #00001F;
    color: #00001F;
}

.fundation--title {
    font-size: 40px;
    font-weight: 500;
}

.fundation--text {
    font-size: 18px;
    font-weight: 100;
    max-width: 300px;
}

.circle--alliance {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 50px 200px;
    grid-gap: 30px;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.dark-mode .circle--alliance {
    background: white;
    color: #00001F;
}

.light-mode .circle--alliance {
    background: #00001F;
    color: white;
}

.alliance--title {
    font-size: 40px;
    font-weight: 500;
}

.alliance--text {
    font-size: 18px;
    font-weight: 100;
    max-width: 300px;
}

.container--factions--footer {
    margin-top: 200px;
    display: grid;
    grid-template-rows: 100px auto;
    grid-gap: 30px;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.dark-mode .container--factions--footer {
    color: white;
}

.light-mode .container--factions--footer {
    color: #00001F;
}

.faction--subtitle {
    font-size: 18px;
    font-weight: 100;
    max-width: 300px;
}

.dark-mode .animated--arrow {
    filter: invert(0%);
}

.light-mode .animated--arrow {
    filter: invert(100%);
}

@keyframes UpDown {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(20px);
    }
}


/*RESPONSIVE */

@media(max-width: 640px) {
    .container--factions--content {
        height: 600vh;
    }
    .faction--title {
        font-size: 30px;
        max-width: 100%;
    }
    .container--factions--header {
        margin-top: 100px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr) auto;
    }
    .group--image img {
        width: 130px;
        height: 175px;
    }
    .container--factions--cta {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) !important;
    }
    .cta--title {
        font-size: 30px;
    }
    .container--factions--circles {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .circle--fundation {
        width: 300px;
        height: 300px;
        grid-template-rows: 50px 150px;
        grid-gap: 10px;
    }
    .fundation--title {
        font-size: 30px;
        font-weight: 500;
    }
    .fundation--text {
        font-size: 18px;
        font-weight: 100;
        max-width: 250px;
    }
    .circle--alliance {
        width: 300px;
        height: 300px;
        grid-template-rows: 50px 150px;
        grid-gap: 10px;
    }
    .alliance--title {
        font-size: 30px;
        font-weight: 500;
    }
    .alliance--text {
        font-size: 18px;
        font-weight: 100;
        max-width: 250px;
    }
}