/*.dark-mode*/

.section-intro {
    color: white;
    background: radial-gradient(46.13% 46.13% at 50% 69.53%, #343b75 0, #000000 100%);
}


/*
.light-mode .section-intro {
    background: #FFFFFF;
    color: #00001F;
}

.dark-mode .section-intro--subtitle,
.dark-mode .section-intro--about {
    color: white;
}

.light-mode .section-intro--subtitle,
.light-mode .section-intro--about {
    color: #00001F;
}
*/


/*RESPONSIVE */

@media(max-width: 640px) {
    .section-intro>div {
        padding: 150px 40px 50px;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
    }
    .section-intro--subtitle {
        max-width: 300px;
    }
    .introduce--subtitle-1,
    .introduce--subtitle-2 {
        font-size: 30px !important;
    }
    .section-intro--about {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }
    .section-intro--groupImage {
        grid-template-columns: auto !important;
        grid-template-rows: repeat(3, auto) !important;
    }
    .section-intro>div .sig-img-1 {
        justify-self: center;
    }
    .section-intro>div .sig-img-2 {
        width: 250px;
        height: 300px;
        align-self: start;
        justify-self: center;
    }
    .section-intro>div .sig-img-3 {
        align-self: start;
        justify-self: center;
    }
}