.dark-mode .section-discover {
    background: #00001F;
}

.light-mode .section-discover {
    background: #FFFFFF;
}

.dark-mode .section-discover--subtitle {
    color: white;
}

.light-mode .section-discover--subtitle {
    color: #00001F;
}

.slider-navigation {
    width: 90px;
    position: relative;
    margin-left: 1em;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    opacity: .4;
    transition: 250ms;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1)
}

.dark-mode .slider-navigation {
    border: 1px solid #fff;
}

.light-mode .slider-navigation {
    border: 1px solid #00001F;
}

.dark-mode .wrapper-icon-left,
.dark-mode .wrapper-icon-righ {
    filter: invert(0%);
}

.light-mode .wrapper-icon-left,
.light-mode .wrapper-icon-right {
    filter: invert(100%);
}

.wrapper-icon-left,
.wrapper-icon-right {
    position: absolute;
    margin: 0 auto;
    right: 20px;
    top: 20px;
}

.section-discover img {
    vertical-align: middle;
    display: inline-block;
}

.slider-navigation.prev-side {
    overflow: hidden;
    width: 62px;
    height: 62px;
    padding: 0;
    border-radius: 100%;
    justify-self: end;
}

.slider-navigation.prev-side:hover,
.slider-navigation.next-side:hover {
    opacity: 1;
    transform: scale(120%);
}

.dark-mode .slider-navigation.prev-side:hover,
.dark-mode .slider-navigation.next-side:hover {
    background: white;
}

.light-mode .slider-navigation.prev-side:hover,
.light-mode .slider-navigation.next-side:hover {
    background: #00001F;
}

.dark-mode .slider-navigation.prev-side:hover .wrapper-icon-left,
.dark-mode .slider-navigation.next-side:hover .wrapper-icon-right {
    filter: invert(100%);
}

.light-mode .slider-navigation.prev-side:hover .wrapper-icon-left,
.light-mode .slider-navigation.next-side:hover .wrapper-icon-right {
    filter: invert(0%);
}

.slider-navigation.next-side {
    overflow: hidden;
    width: 62px;
    height: 62px;
    padding: 0;
    border-radius: 100%;
}