.header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
    transition: 0.5s;
}

.header-scrolled {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
}

.header-group {
    max-width: 80vw;
    margin: 0 200px;
    display: grid;
    grid-template-columns: 200px auto 230px;
    align-items: center;
    justify-items: center;
}

.header a,
.header span,
.menu--overlay a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.nav-group-dark-light-mode {
    position: relative;
    width: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}

.nav-group-dark-light-mode .switch-theme {
    width: 50px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid white;
}

.nav-group-dark-light-mode .switch-theme .interruptor {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 100%;
    top: 9px;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1)
}

.nav-group-dark-light-mode .switch-theme .interruptor.light-mode {
    transform: translateX(32px);
    /*right: 32px;*/
}

.nav-group-dark-light-mode .switch-theme .interruptor.dark-mode {
    transform: translateX(2px);
    /*left: 32px;*/
}

.nav-group-dark-light-mode>div {
    cursor: pointer;
}

.nav-group {
    display: grid;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    justify-self: end;
}

.nav-group .btn-menu-open:hover {
    cursor: pointer;
}

.nav-group span:hover {
    cursor: pointer;
}


/* MENU ENABLED */

.menu--overlay {
    background: black;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transition: 1s ease;
    clip-path: circle(0px at 85% 30px);
}

.menu--overlay.menu--enable {
    z-index: 1000;
    clip-path: circle(200% at 85% 30px);
}

.btn-menu-close:hover {
    cursor: pointer;
}

.menu--container {
    display: grid;
    grid-template-rows: 50px auto;
    grid-gap: 200px;
    padding: 20px 250px 20px 200px;
}

.menu--header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu--header .btn-menu-close {
    justify-self: end;
}

.menu--links {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 200px;
}

.menu--team {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    transition: 350ms ease;
    max-width: 300px;
    z-index: 100;
}

.menu--team a.team--link {
    transition: 350ms ease;
    font-size: 60px;
    z-index: 200;
}

.menu--team a.team--link:hover {
    transform: translateX(50px);
}

.menu--social--policies {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
}

.menu--social {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    justify-items: end;
    align-items: center;
}

.menu--social a.social--link {
    transition: opacity 350ms;
    font-weight: 200;
    opacity: .95;
}

.menu--social a.social--link:hover {
    opacity: .6;
}

.menu--policy {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
    justify-items: end;
    align-items: center;
}

.menu--policy a.privacy--link {
    transition: opacity 350ms;
    font-weight: 200;
    opacity: .6;
}

.menu--policy a.privacy--link:hover {
    opacity: .95;
}


/*RESPONSIVE */

@media (max-width: 640px) {
    .header {
        padding: 15px 0;
    }
    .header-group {
        grid-template-columns: repeat(2, 1fr) 60px;
        margin: 0 45px;
    }
    .nav-group {
        grid-template-columns: auto;
        font-size: 10px;
        text-align: center;
    }
    .nav-group div span {
        display: none;
    }
    .nav-group {
        grid-template-columns: auto;
        justify-self: center;
    }
}