.dark-mode.footer--grid {
    background: #00001F;
    color: white;
}

.light-mode.footer--grid {
    background: #FFFFFF;
    color: #00001F;
}

a {
    text-decoration: none;
}

.light-mode.footer--grid a,
.light-mode.footer--grid p {
    color: #00001F;
}

.dark-mode.footer--grid a,
.dark-mode.footer--grid p {
    color: white;
}

.dark-mode .footer--divider {
    background: #FFFFFF;
}

.light-mode .footer--divider {
    background: #00001F;
}